<p-dialog [(visible)]="productDialog" header="{{ 'Attendance details' | translate }}" [modal]="true">
  <app-messages></app-messages>
  <ng-template pTemplate="content">
    <form [formGroup]="form">
      <div class="form-field" *ngIf="control('fullName') as field">
        <label class="position" translate>Full name</label>
        <span class="p-float-label body">
          <input type="text" id="fullName" class="form-control" formControlName="fullName" pInputText
                name="fullName" maxlength="30">
        </span>
        <app-errors-presenter [errors]="field.errors"></app-errors-presenter>
      </div>
      <div class="header-body" *ngIf="control('day') as field">
        <label class="position" translate>Day</label>
        <select class="drop-down-position" name="colors" id="colors"
                [formControl]="field">
          <option *ngFor="let day of days"
                  [value]="day.name">
            {{day.name}}
          </option>
        </select>
        <app-errors-presenter [errors]="field.errors"></app-errors-presenter>
      </div>
    </form>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple icon="pi pi-times" class="p-button-text button-size"
            (click)="hideDialog()" translate>{{"Cancel"}}</button>
    <button [disabled]="form.invalid" pButton pRipple icon="pi pi-check" class="p-button-text button-size"
            (click)="saveAttendance()" translate>{{"Save"}}</button>
  </ng-template>
</p-dialog>
