:host ::ng-deep .p-dialog {
  width: 31rem;
}

:host ::ng-deep .p-dialog-header {
  padding: 2rem 3rem 2rem 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

:host ::ng-deep .p-dialog-content {
  padding: 0rem 3rem;
}

:host ::ng-deep .p-dropdown {
  width: 14rem;
  display: flex;
  flex-direction: row-reverse;
  text-align: end;
}

.drop-down-position {
  position: absolute;
  margin-top: 30px;
}

.drop-down-body {
  display: flex;
}

.header-body {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row-reverse;
}

.body {
  margin: 6px 0px;
  display: flex;
  flex-direction: row-reverse;
}

.position {
  display: flex;
  flex-direction: row-reverse;
}

.button-size {
  width: 100%;
  padding: 1rem;
  display: flex;
}
